@charset "utf-8";
.works_page_top {
  background-color: #fdf3e7;
  padding: 100px 0 100px;
}
.works_page_top .work_page_top_ttl {
  text-align: center;
}
.works_page_top .work_page_top_ttl_img {
  max-width: 500px;
}
.works_page_top .work_page_top_subttl {
  display: block;
  font-size: 28px;
  text-align: center;
  margin-top: -35px;
}
<<<<<<< HEAD
@media screen and (max-width: 1100px) {
  .works_page_top {
    padding-bottom: 50px;
  }
  .works_page_top .work_page_top_ttl_img {
    max-width: 300px;
  }
  .works_page_top .work_page_top_subttl {
    font-size: 20px;
    margin-top: -35px;
  }
}
@media screen and (max-width: 767px) {
  .works_page_top {
    padding: 45px 0 70px;
  }
  .works_page_top .work_page_top_ttl_img {
    max-width: 200px;
  }
  .works_page_top .work_page_top_subttl {
    font-size: 15px;
    text-align: center;
    margin-top: -20px;
  }
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0

/* WEB */
.web {
  background-color: #fdf3e7;
  position: relative;
  padding-bottom: 145px;
}
.contents_ttl {
  font-family: "Lovely Time", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}
.contents_ttl_red {
  color: #cc431b;
}
.web p,
.banner p,
.movie p,
.print p,
.logo p {
  text-align: center;
}
.web ul,
.banner ul,
.movie ul,
.print ul,
.logo ul {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 0;
  position: relative;
}
.web ul li,
.banner ul li,
.movie ul li,
.print ul li,
.logo ul li {
  width: 30%;
}
.web ul li a .thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.web ul li a .works02 {
  left: 350px;
}
.web ul li a .works03 {
  left: 700px;
  padding: 0 0 5px 0;
}
.web ul li a .works04 {
  top: 244px;
}
.web ul li a .works05 {
  top: 244px;
  left: 350px;
}
.coming {
  width: 100%;
  border-radius: 20px;
  background: #d0ab80;
}
.web ul li .coming_txt {
  text-align: center;
  font-family: "Lovely Time", sans-serif;
  font-size: 28px;
  align-items: center;
  padding: 70px 0;
  color: #fdf3e7;
}
.web ul li a .thumb:hover {
  opacity: 1;
}
.thumb .works_content_ttl {
  font-size: 15px;
  padding: 15px 0 23px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
.web ul li a .works03 .works_content_ttl {
  font-size: 15px;
  padding: 10px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}

.thumb .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 24px 0 10px 0;
}
.web .thumb .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.5;
  padding: 24px 0 10px 0;
}

.web .thumb .works_content_txt .small_txt {
  font-size: 9px;
}

@media screen and (max-width: 1100px) {
  .web {
    padding-top: 100px;
  }
  .web p,
  .banner p {
    margin-top: -15px;
    font-size: 18px;
  }
  .web ul,
<<<<<<< HEAD
  .banner ul,
  .movie ul,
  .print ul {
    padding: 0 15px;
  }
  .web ul li a .thumb {
    width: 29%;
    left: 15px;
    border-radius: 15px;
    padding: 25px 0;
  }
  .web ul li a .works02 {
    left: 280px;
  }
  .web ul li a .works03 {
    left: 560px;
    padding: 15px 0 6px;
  }
  .web ul li a .works04 {
    top: 209px;
=======
  .banner ul {
    max-width: 800px;
  }
  .web ul li a .thumb {
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .web ul li a .works02 {
    position: absolute;
    left: 280px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .web ul li a .works03 {
    left: 560px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .web ul li a .works04 {
    top: 209px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  }
  .web ul li a .works05 {
    top: 209px;
    left: 280px;
<<<<<<< HEAD
=======
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  }
  .web ul li a .works06 {
    top: 209px;
    left: 560px;
<<<<<<< HEAD
  }
  .web .thumb .works_content_ttl,
  .banner .thumb .works_content_ttl {
    font-size: 12px;
    padding: 20px 0;
  }
  .web .works03 .works_content_ttl {
    font-size: 12px;
    padding-top: 5px 5px;
  }

  .web .thumb .works_content_txt,
  .banner .thumb .works_content_txt {
    font-size: 12px;
    line-height: 1.3;
    padding: 39px 0 10px 0;
  }
  .web .works03 .works_content_txt {
    padding: 5px 5px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .web {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .contents_ttl {
    font-size: 40px;
  }
  .web ul,
  .banner ul {
    max-width: 315px;
  }
  .web ul li,
  .banner ul li,
  .movie ul li,
  .print ul li,
  .logo ul li {
    width: 100%;
  }
  .web ul li a .thumb {
    display: none;
=======
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .web .thumb .works_content_ttl,
  .banner .thumb .works_content_ttl {
    font-size: 15px;
    padding: 15px 15px;
  }
  .web .thumb .works_content_txt,
  .banner .thumb .works_content_txt {
    line-height: 1.3;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  }
}
/* BANNER */
.banner {
  background-color: #fffefc;
  padding: 125px 0 145px;
}
.banner .contents_ttl_green {
  color: #8fdfa6;
}
.banner ul li.bnr_luxury {
  margin-top: 7%;
}
.banner ul li a .thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 35px 0;
}
.banner ul li a .works02 {
  left: 350px;
  padding: 9px 0 14px 0;
  margin-top: 7%;
}
.banner ul li a .works03 {
  left: 700px;
}
.banner ul li a .works04 {
  top: 375px;
  border-radius: 30px;
  padding: 25px 0 35px 0;
}
.banner ul li a .works05 {
  top: 375px;
  left: 350px;
  border-radius: 30px;
  padding: 25px 0 40px 0;
}
.banner ul li .coming_txt {
  font-family: "Lovely Time", sans-serif;
  font-size: 28px;
  padding: 110px 0;
  color: #fdf3e7;
}
.banner ul li a .thumb:hover {
  opacity: 1;
}
<<<<<<< HEAD
.banner .thumb .works_content_ttl {
=======
.banner .works01 .works_content_ttl,
.banner .works03 .works_content_ttl {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  font-size: 15px;
  padding: 21px 0 55px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
<<<<<<< HEAD
.banner .thumb .works_content_txt {
=======
.banner .works01 .works_content_txt,
.banner .works03 .works_content_txt {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 55px 0 21px 0;
}
.banner .works04 .works_content_ttl {
  font-size: 15px;
  padding: 20px 0 35px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
.banner .works04 .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 36px 0 0 0;
}
.banner .works05 .works_content_ttl {
  font-size: 15px;
  padding: 25px 0 40px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
.banner .works05 .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 42px 0 0 0;
}

@media screen and (max-width: 1100px) {
  .banner {
    padding-top: 100px;
  }
  .banner ul li a .thumb {
    width: 240px;
<<<<<<< HEAD
    padding: 40px 0;
  }
  .banner ul li a .works02 {
    left: 280px;
    padding: 30px 0 10px;
    border-radius: 15px;
  }
  .banner ul li a .works03 {
    left: 560px;
  }
  .banner ul li a .works04 {
    top: 315px;
    padding: 20px 0;
    border-radius: 25px;
  }
  .banner ul li a .works05 {
    top: 315px;
    left: 280px;
    padding: 25px 0;
    border-radius: 24px;
  }
  .banner .thumb .works_content_ttl {
    font-size: 12px;
    padding: 25px 0 40px;
  }
  .banner .works02 .works_content_ttl {
    padding: 5px 0 15px;
  }
  .banner .works04 .works_content_ttl {
    padding: 20px 0;
  }
  .banner .works05 .works_content_ttl {
    padding: 20px 0 25px;
  }
  .banner .thumb .works_content_txt {
    font-size: 12px;
    padding: 49px 0 5px;
  }
  .banner .works02 .works_content_txt {
    padding: 30px 0 5px;
  }
  .banner .works04 .works_content_txt {
    padding: 45px 0 15px;
  }
  .banner .works05 .works_content_txt {
    padding: 40px 0 25px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 50px 0 70px;
  }
  .banner ul li a .thumb {
    display: none;
=======
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .banner ul li a .works02 {
    position: absolute;
    left: 280px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .banner ul li a .works03 {
    left: 560px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .banner ul li a .works04 {
    top: 209px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .banner ul li a .works05 {
    top: 209px;
    left: 280px;
    width: 240px;
    height: 115px;
    border-radius: 15px;
    padding-top: 20px;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  }
}
/* MOVIE */
.movie {
  background-color: #fdf3e7;
  padding: 125px 0 145px;
}
.contents_ttl_blue {
  color: #3fc4e9;
}
.movie ul li a .thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding-top: 20px;
}
.movie ul li a .works02 {
  left: 350px;
}
.movie ul li a .works03 {
  left: 700px;
  width: 300px;
  transition: 0.3s;
}
.movie ul li a .works04 {
  top: 244px;
  left: 150px;
  border-radius: 30px;
  padding: 80px 0 100px 0;
}
.movie ul li a .thumb:hover {
  opacity: 1;
}
.movie .works04 .works_content_ttl {
  padding: 30px 0 110px 0;
}
.movie .thumb .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 16px 0;
}
.movie .works04 .works_content_txt {
  padding: 117px 0 17px 0;
}
.movie ul .two_flex {
  display: flex;
  width: 100%;
}
.cass {
  margin-left: 15%;
}
.movie ul li .coming {
  margin-left: 45%;
}
.movie ul li .coming_txt {
  text-align: center;
  font-family: "Lovely Time", sans-serif;
  font-size: 28px;
  align-items: center;
  padding: 250px 0;
  color: #fdf3e7;
}

@media screen and (max-width: 1100px) {
  .movie {
    padding-top: 100px;
  }
  .movie ul li a .thumb {
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .movie ul li a .works02 {
    position: absolute;
    left: 280px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .movie ul li a .works03 {
    left: 560px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .movie ul li a .works04 {
    top: 209px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .movie ul {
    max-width: 315px;
  }
  .movie ul li a .thumb {
    display: none;
  }
  .movie ul li .coming {
    display: none;
  }
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
/* PRINT */
.print {
  background-color: #fffefc;
  padding: 125px 0 145px;
}
.print ul li a .thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 85px 0;
}
.print ul li a .works02 {
  left: 350px;
  padding-top: 56px;
}
.print ul li a .works03 {
  left: 700px;
  padding-top: 40px;
}
.print ul li a .works04 {
  top: 506px;
  border-radius: 12px;
  padding-top: 40px;
}
.print ul li a .works05 {
  top: 499px;
  left: 350px;
  padding: 40px 0;
}
.print ul li a .thumb:hover {
  opacity: 1;
}
.print .thumb .works_content_ttl {
  padding-bottom: 75px;
}
.print .thumb .works_content_txt {
  padding-top: 75px;
}
.print .works02 .works_content_ttl {
  padding: 0 0 56px 0;
}
.print .works04 .works_content_ttl {
  padding: 18px 0 55px 0;
}
.print .works05 .works_content_ttl {
  padding: 0 0 40px 0;
}
.print .works05 .works_content_txt {
  padding: 65px 0 35px;
}
.print ul li .coming_txt {
  font-family: "Lovely Time", sans-serif;
  font-size: 28px;
  padding: 135px 0;
  color: #fdf3e7;
}

@media screen and (max-width: 1100px) {
  .print {
    padding-top: 100px;
  }
  .print ul li a .thumb {
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .print ul li a .works02 {
    position: absolute;
    left: 280px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .print ul li a .works03 {
    left: 560px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .print ul li a .works04 {
    top: 209px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .print ul li a .works05 {
    top: 209px;
    left: 280px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .print ul {
    max-width: 315px;
  }
  .print ul li a .thumb {
    display: none;
  }
}
=======

>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
/* LOGO */
.logo {
  background-color: #fdf3e7;
  padding: 125px 0 145px;
}

.logo ul li {
  background-color: #fffefc;
  border-radius: 30px;
<<<<<<< HEAD
  width: 30%;
  aspect-ratio: 1 / 1;
  position: relative;
}
.logo .logo_img {
  max-width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo .logo_img02,
.logo .logo_img03 {
  max-width: 200px;
  margin: 0 auto;
}
.logo .logo_lists04 {
  margin: 0 15%;
=======
}
.logo .logo_img {
  max-width: 150px;
}
.logo .logo_img03 {
  max-width: 200px;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
}
.logo ul li a .thumb {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
<<<<<<< HEAD
  border-radius: 30px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 60px 0;
}
.logo .works_content_ttl {
  padding-bottom: 40px;
}
.logo .works_content_txt {
=======
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding-top: 40px;
}
.logo ul li a .works02 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 350px;
  width: 300px;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding-top: 40px;
}
.logo ul li a .works03 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 700px;
  width: 300px;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding-top: 40px;
}
.logo ul li a .works04 {
  opacity: 0;
  position: absolute;
  top: 244px;
  left: 0px;
  width: 300px;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  padding-top: 40px;
}
.logo ul li a .thumb:hover {
  opacity: 1;
}
<<<<<<< HEAD
.logo ul .two_flex {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.logo ul li .coming_txt {
  font-family: "Lovely Time", sans-serif;
  font-size: 28px;
  padding: 135px 0;
  color: #fdf3e7;
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
@media screen and (max-width: 1100px) {
  .logo {
    padding-top: 100px;
  }
  .logo ul li a .thumb {
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .logo ul li a .works02 {
    position: absolute;
    left: 280px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .logo ul li a .works03 {
    left: 560px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .logo ul li a .works04 {
    top: 209px;
    width: 240px;
    border-radius: 15px;
    padding-top: 20px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .logo ul li a .thumb {
    display: none;
  }
}
=======

>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
/* CONTACT */
.contact {
  padding: 145px 0 100px;
  background-color: #fffefc;
}
.contact h2 {
  text-align: center;
}
.contact h2 img {
  max-width: 500px;
}
.contact_ja {
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: 55px;
  text-align: center;
}
.contact_txt p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.contact_btn {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 200px;
}
.contact_btn .contact_img {
  max-width: 200px;
}
.contact_btn .contact_btn_txt {
  width: 500px;
  text-align: center;
  font-size: 20px;
  padding-top: 100px;
  line-height: 1.4;
}
.contact_btn .btn_box {
  position: absolute;
  z-index: 2;
  width: 40%;
  bottom: -55px;
  right: 280px;
}
@media screen and (max-width: 1100px) {
  .contact {
    margin: 100px 0 80px;
  }
  .contact .section_contact_ttl_img {
    max-width: 300px;
  }
  .contact_ja {
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: 35px;
  }
  .contact_txt {
    font-size: 13px;
  }
  .contact_btn {
    max-width: 500px;
    padding: 0 100px;
  }
  .contact .contact_btn a p {
    font-size: 25px;
    text-align: center;
  }
  .contact_btn .contact_smile {
    max-width: 100px;
    padding-top: 60px;
  }
  .contact_btn .contact_btn_txt {
    width: 500px;
    font-size: 18px;
    padding-top: 80px;
  }
  .contact_btn .btn_box {
    width: 60%;
    top: -17px;
    left: 192px;
  }
}
@media screen and (max-width: 767px) {
  .contact .pc_only {
    display: none;
  }
  .contact .sp_only {
    display: block;
  }
<<<<<<< HEAD
  .contact {
    margin: 0;
    padding: 45px 0;
  }
  .contact h2 img {
    max-width: 150px;
  }
  .contact_ja {
    margin-top: -8px;
    font-size: 12px;
    margin-bottom: 30px;
  }
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  .contact_btn {
    flex-direction: column;
  }
  .contact_btn .btn_box {
    left: 37px;
    top: 73px;
    width: 74%;
  }
  .contact_btn .contact_img {
    text-align: center;
  }

  .contact_btn .contact_smile {
    max-width: 70px;
    padding-top: 30px;
  }
  .contact_btn .contact_btn_txt {
    width: 88%;
    font-size: 14px;
    padding-top: 40px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .footer {
    background-color: #fdf3e7;
  }
}
/* works_web */
.top_skill_ttl {
  text-align: center;
  font-family: "Lovely Time", sans-serif;
  background-color: #fffefc;
  font-size: 27px;
  padding: 35px 0;
}
.top_skill_ttl .skill_ttl_red {
  color: #cc431b;
}
.works_content {
  background-color: #fdf3e7;
  padding: 55px 0 45px;
}
.works_content .works_content_ttl {
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 20px;
  margin-bottom: 42px;
  line-height: 1.5;
}
.works_content_ttl .works_content_ttl_yellow {
  color: #ffcc02;
}
.works_content_ttl .works_content_subttl {
  display: block;
  font-family: "Osaka-等幅", "Osaka-mono", "Kosugi", sans-serif, "游ゴシック体",
    "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.08em;
}
.skill_point {
  max-width: 1000px;
  margin: 45px auto;
  padding: 40px 100px 30px 130px;
  border: 5px #d0ab80 dotted;
  border-radius: 70px;
  background-color: #fffefc;
  display: flex;
}
.skill_point ul li {
  display: flex;
  font-size: 14px;
  line-height: 1.7;
}
.skill_point ul li .skill_point_contents {
  width: 70px;
  margin-right: 85px;
}
.skill_point ul li + li {
  margin-top: 35px;
}
.design_pc {
  max-width: 1000px;
  margin: 0 auto;
}
.design_sp {
  display: flex;
  max-width: 1000px;
  margin: 90px auto;
}
.design_sp .design_sp_img {
  width: 30%;
  margin-right: 5%;
}
.design_sp .design_sp_img:last-child {
  margin-right: 0;
}
.footer {
  background-color: #fffefc;
}
.skill_point ul li.sp_only,
.sp_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .skill_point ul li.pc_only,
  .pc_only {
    display: none;
  }
  .skill_point ul li.sp_only {
    display: block;
    max-width: 270px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .top_skill_ttl {
    font-size: 20px;
    padding: 15px 0;
  }
  .works_content {
    background-color: #fdf3e7;
    padding: 25px 0 35px;
  }
  .works_content .works_content_ttl {
    font-size: 18px;
  }
  .works_content_ttl .works_content_subttl {
    font-size: 10px;
    margin-top: 10px;
  }
  .skill_point {
    max-width: 340px;
    margin: 30px auto 30px;
    border-radius: 40px;
    padding: 0;
  }
  .skill_point ul {
    margin: 0 auto;
  }
  .skill_point_wrap {
    padding: 30px 30px 25px 40px;
    border-bottom: 1px solid #909090;
  }
  .skill_point ul li {
    font-size: 11px;
    line-height: 1.5;
  }
  .skill_point ul li .skill_point_contents {
    width: 50px;
    margin-right: 15px;
  }
  .skill_point_contents_small {
    font-size: 10px;
  }
  .skill_point ul li + li {
    margin-top: 20px;
  }
  .design_txt {
    display: block;
    font-size: 12px;
    font-family: "Dela Gothic One", sans-serif;
    text-align: center;
    margin: 0 auto 10px;
  }
  .design_pc {
    max-width: 315px;
  }
  .sp_only {
    display: block;
    max-width: 315px;
    margin: 60px auto 0;
  }
  .design_sp_all {
    width: 315px;
  }
}
/* woks_banner */
.top_skill_ttl .skill_ttl_green {
  color: #8fdfa6;
}
.works_content .skill_muckup_banner {
  max-width: 1000px;
  margin: 0 auto;
}
.works_content .design_banner {
  max-width: 50%;
  margin: 0 auto;
}
/* works_movie */
.top_skill_ttl .skill_ttl_blue {
  color: #3fc4e9;
}
.works_content .skill_muckup_movie {
  max-width: 100%;
}
.works_content .design_movie {
  max-width: 1000px;
  margin: 0 auto;
}
.works_content .design_movie01 {
  margin-bottom: 175px;
}
.works_content .design_movie_cass {
  max-width: 20%;
  margin: 0 auto;
}
/* works_logo */
.skill_muckup_logo {
  background-color: #fffefc;
  padding: 150px 0;
}
.skill_muckup_logo_img {
  display: block;
  max-width: 305px;
  margin: 0 auto;
}
.skill_muckup_logo_img03 {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
/* works_print */
.skill_muckup_print {
  max-width: 1000px;
  margin: 0 auto;
}
.design_print {
  max-width: 40%;
  margin: 0 auto;
}
/* TOP_btn */
.pagetop {
  position: fixed;
  width: 120px;
  bottom: 80px;
  right: 100px;
}
@media screen and (max-width: 767px) {
  .pagetop {
    width: 70px;
    bottom: 40px;
    right: 20px;
  }
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
