@charset "utf-8";
/* MV */
.mv {
  width: 100%;
  height: 650px;
  background-color: #fdf3e7;
  display: grid;
  place-items: center;
  position: relative;
}
.mv .mv_ttl_img {
  max-width: 747px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .mv h2 {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
  }
}
/* LEAD */
.page_lead {
  padding: 150px 0;
  background-color: #fffefc;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.page_lead p {
  text-align: center;
}
.lead_ttl {
  font-size: 30px;
  margin-bottom: 30px;
}
.lead_ttl .yellow {
  color: #ffcc02;
}
.sub_lead {
  font-size: 14px;
  line-height: 1.7;
}
.sub_lead01 .red {
  color: #cc431b;
}
.sp_only {
  display: none;
}
@media screen and (max-width: 767px) {
  .page_lead {
    padding: 45px 30px;
  }
  .lead_ttl {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .sub_lead {
    font-size: 12px;
    line-height: 1.6;
  }
  .sp_only {
    display: block;
  }
  .sub_lead02 {
    padding: 15px 0;
  }
}
/* ABOUT */
.about {
  background-color: #fdf3e7;
  padding: 120px 0 100px;
}
.about_content {
  display: flex;
  justify-content: center;
  position: relative;
}
.icon {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fffefc;
}
.icon:hover {
  background-image: url(../images/icon_hover@2x.webp);
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-size: cover;
  transition: 0.3s;
}
.icon .nigaoe {
  max-width: 215px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
}
.icon .nigaoe:hover {
  opacity: 0;
  transition: 0.3s;
}

.about_txt {
  padding-left: 5%;
  font-size: 14px;
}
.about_txt .sub_name {
  font-size: 20px;
}
.about_txt .sub_name .name {
  display: block;
  font-size: 50px;
  color: #4d4d4d;
  padding: 10px 0 40px;
}
.about_txt .wrapper .txt {
  font-size: 14px;
  line-height: 1.5;
}
.about_txt .txt01 {
  padding: 15px 0 30px;
}
.aboutmore_btn {
  position: relative;
  max-width: 290px;
  margin: 60px auto;
  padding-left: 235px;
}
.about .seemore_btn_hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  width: 56%;
  padding-left: 235px;
}
.about .seemore_btn_hover:hover {
  opacity: 1;
}
.about_deco {
  position: absolute;
}
.about_deco01 {
  max-width: 115px;
  top: 1150px;
  left: 175px;
}
.about_deco02 {
  max-width: 106px;
  top: 1500px;
  right: 175px;
}
.about_deco03 {
  max-width: 168px;
  top: 1456px;
  left: 367px;
}
.about_deco04 {
  max-width: 120px;
  top: 1200px;
  right: 250px;
}
.sp_only {
  display: none;
}
@media screen and (max-width: 1100px) {
  .about {
    padding: 150px 0 40px;
  }
  .icon {
    width: 200px;
    height: 200px;
  }
  .icon .nigaoe {
    max-width: 180px;
  }
  .about_txt .sub_name {
    font-size: 16px;
  }
  .about_txt .name {
    font-size: 40px;
  }
  .about_txt .wrapper .txt {
    font-size: 13px;
  }
  .aboutmore_btn {
    max-width: 250px;
    padding-left: 0;
  }
  .about .seemore_btn_hover {
    width: 101%;
    padding-left: 0;
  }
  .about_deco01 {
    max-width: 115px;
    top: 174%;
    left: 9%;
  }
  .about_deco02 {
    max-width: 106px;
    top: 224%;
    right: 10%;
  }
  .about_deco03 {
    max-width: 140px;
    top: 213%;
    left: 29%;
  }
  .about_deco04 {
    max-width: 100px;
    top: 180%;
    right: 20%;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding: 70px 0 75px;
  }
  .icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .icon .nigaoe {
    max-width: 120px;
    margin: 0 auto;
    left: 0%;
    top: 48%;
  }

  .about_content {
    flex-direction: column;
    text-align: center;
  }
  .sp_only {
    display: block;
    font-size: 18px;
  }
  .pc_only {
    display: none;
  }
  .sp_only span.name {
    display: block;
    font-size: 25px;
    color: #4d4d4d;
    padding: 5px 0 15px;
  }
  .about_deco01 {
    max-width: 127px;
    top: 118%;
    left: 2%;
  }
  .about_deco02 {
    transform: scale(-1, 1);
    max-width: 72px;
    top: 130%;
    left: 12%;
  }
  .about_deco03 {
    max-width: 60px;
    top: 143%;
    left: 66%;
  }
  .about_deco04 {
    width: 63px;
    top: 135%;
    left: 75%;
  }
}
/* SKILL */
.skill {
  padding: 70px 0 50px;
  background-color: #fffefc;
}
.skill .section_skill_ttl {
  text-align: center;
}
.skill .section_skill_ttl_img {
  max-width: 120px;
}
.skill .section_skill_sub_ttl {
  display: block;
  text-align: center;
  margin: 80px 0 65px;
  font-family: "Dela Gothic One", sans-serif;
}
.skill ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.skill ul li {
  text-align: center;
  width: 30%;
  margin-bottom: 50px;
}
.tool_name {
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 50%;
}
.skilltool_icon {
  width: 50%;
}
.skill ul li img.html_ttl_img {
  width: 30%;
}
.skill ul li img.css_ttl_img {
  width: 25%;
}
@media screen and (max-width: 1100px) {
  .skill .section_skill_ttl_img {
    max-width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .skill {
    padding: 25px 0 80px;
  }
  .skill .section_skill_ttl_img {
    max-width: 60px;
  }
  .skill .section_skill_sub_ttl {
    font-size: 15px;
    margin: 40px 0 15px;
  }
  .skill ul {
    width: 100%;
  }
  .skill ul li {
    width: 16%;
    margin-bottom: 0;
  }
  .tool_name {
    padding-bottom: 5px;
    width: 75%;
  }
  .skill ul li img.html_ttl_img {
    width: 40%;
  }
  .skill ul li img.css_ttl_img {
    width: 34%;
  }
}
/* skill_web */
<<<<<<< HEAD
.sp_only {
  display: none;
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
.skill_web {
  background-color: #fdf3e7;
  padding: 65px 0 130px;
}
.skill_web .section_web_ttl {
  text-align: center;
  margin-bottom: 85px;
}
.skill_web .section_web_ttl_img {
  max-width: 97px;
}
.skill_web ul {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.skill_web ul li {
  position: relative;
  text-align: center;
  width: 230px;
  height: 200px;
  line-height: 138px;
}
<<<<<<< HEAD
.skill_web_lists_img {
=======
.skill_web_lists li img {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  width: 70%;
}
.skill_web_lists li img.skill_web_bnr {
  width: 25%;
}
.skill_red {
  --x-gradient: linear-gradient(
    90deg,
    #cc431b 0 40px,
    transparent 0 calc(100% - 40px),
    #cc431b calc(100% - 40px)
  );
  --y-gradient: linear-gradient(
    #cc431b 0 40px,
    transparent 0 calc(100% - 40px),
    #cc431b calc(100% - 40px)
  );
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient),
    var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: top, right, bottom, left;
}
.skill_green {
  --x-gradient: linear-gradient(
    90deg,
    #8fdfa6 0 40px,
    transparent 0 calc(100% - 40px),
    #8fdfa6 calc(100% - 40px)
  );
  --y-gradient: linear-gradient(
    #8fdfa6 0 40px,
    transparent 0 calc(100% - 40px),
    #8fdfa6 calc(100% - 40px)
  );
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient),
    var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: top, right, bottom, left;
}
.skill_yellow {
  --x-gradient: linear-gradient(
    90deg,
    #ffcc02 0 40px,
    transparent 0 calc(100% - 40px),
    #ffcc02 calc(100% - 40px)
  );
  --y-gradient: linear-gradient(
    #ffcc02 0 40px,
    transparent 0 calc(100% - 40px),
    #ffcc02 calc(100% - 40px)
  );
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient),
    var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: top, right, bottom, left;
}
.skill_blue {
  --x-gradient: linear-gradient(
    90deg,
    #3fc4e9 0 40px,
    transparent 0 calc(100% - 40px),
    #3fc4e9 calc(100% - 40px)
  );
  --y-gradient: linear-gradient(
    #3fc4e9 0 40px,
    transparent 0 calc(100% - 40px),
    #3fc4e9 calc(100% - 40px)
  );
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient),
    var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  background-position: top, right, bottom, left;
}

.skill_web ul li + li {
  margin-left: 30px;
}
.skill_web ul li .skill_ttl {
  margin-top: 20px;
  font-size: 18px;
}
.skill_thumb_red {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cc431b;
  transition: 0.3s;
}
.skill_thumb_green {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8fdfa6;
  transition: 0.3s;
}
.skill_thumb_yellow {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffcc02;
  transition: 0.3s;
}
.skill_thumb_blue {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3fc4e9;
  transition: 0.3s;
}

.skill_thumb:hover {
  opacity: 1;
}
.skill_hover_ttl {
  font-size: 16px;
  padding: 35px 0 30px;
  color: #fdf3e7;
}
.skill_hover_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.6;
  padding: 0 7px 45px 7px;
}

@media screen and (max-width: 1100px) {
  .skill_web .section_web_ttl_img {
    max-width: 90px;
  }
  .skill_web ul {
    max-width: 800px;
  }
  .skill_web ul li {
    width: 150px;
    height: 150px;
    line-height: 90px;
  }
<<<<<<< HEAD
  .skill_web_lists_img {
=======
  .skill_web_lists li img {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
    width: 60%;
  }
  .skill_web ul li .skill_ttl {
    font-size: 16px;
  }
  .skill_hover_ttl {
    font-size: 14px;
    padding: 20px 0 20px;
  }
  .skill_hover_txt {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
<<<<<<< HEAD
  .skill_web .sp_only,
  .skill_graphic .sp_only {
    display: block;
  }
  .skill_web .pc_only {
=======
  .skill_web .sp_only {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
    display: none;
  }
  .skill_web {
    background-color: #fdf3e7;
    padding: 30px 0 70px;
  }
  .skill_web .section_web_ttl {
    margin-bottom: 60px;
  }
  .skill_web .section_web_ttl_img {
    max-width: 50px;
  }
  .skill_web ul {
<<<<<<< HEAD
    max-width: 315px;
=======
    max-width: 100%;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
    flex-direction: column;
  }
  .skill_web ul li {
    margin: 0 auto;
<<<<<<< HEAD
    width: 315px;
    height: 0;
    padding: 100px 0;
    background-color: #fffefc;
  }
  .skill_web ul li + li {
    margin-top: 45px;
    margin-left: 0;
  }
  .skill_web ul li .skill_ttl {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .skill_web_lists_img {
    display: block;
    margin: 0 auto;
=======
    width: 100%;
    height: 0;
    padding: 50px 0;
  }
  .skill_web_lists img {
    width: 30%;
    display: block;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  }
}
/* skill_graphic */
.skill_graphic {
  background-color: #fffefc;
  padding: 80px 0 130px;
}
.skill_graphic .section_graphic_ttl {
  margin-bottom: 80px;
  text-align: center;
}
.skill_graphic .section_graphic_ttl_img {
<<<<<<< HEAD
  width: 30%;
=======
  width: 20%;
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
}
.skill_graphic ul {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-around;
}
.skill_graphic ul li {
  position: relative;
  text-align: center;
  width: 230px;
  height: 200px;
  line-height: 138px;
}
<<<<<<< HEAD
.skill_graphic_lists_img {
=======
.skill_graphic ul li img {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
  width: 38%;
}
.skill_graphic ul li img.graphic_logoicon {
  width: 30%;
}
.skill_graphic ul li .skill_ttl {
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 1100px) {
  .skill_graphic ul {
    max-width: 600px;
  }
  .skill_graphic ul li {
    width: 150px;
    height: 150px;
    line-height: 86px;
  }
<<<<<<< HEAD
  .skill_graphic_lists_img {
=======
  .skill_graphic ul li img {
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
    width: 30%;
  }
  .skill_graphic ul li img.graphic_logoicon {
    width: 24%;
  }
  .skill_graphic ul li .skill_ttl {
    font-size: 16px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  .skill_graphic ul {
    max-width: 315px;
    flex-direction: column;
  }
  .skill_graphic ul li {
    margin: 0 auto;
    width: 315px;
    height: 0;
    padding: 100px 0;
    background-color: #fdf3e7;
  }
  .skill_graphic ul li + li {
    margin-top: 45px;
  }
  .skill_graphic ul li .skill_ttl {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .skill_graphic_lists_img {
    width: 45%;
    display: block;
    margin: 0 auto;
  }
}
=======
>>>>>>> 2edef7db6271ed0ef191fc8ff6e605035903bdc0
/* WORKS */
.works {
  background-color: #fdf3e7;
  padding-top: 130px;
  position: relative;
  padding-bottom: 30px;
}
.works .section_works_ttl_img {
  max-width: 500px;
}
.works .section_works_ttl {
  text-align: center;
}
.works .works_ttl_ja {
  text-align: center;
  display: block;
  margin-top: -35px;
  margin-bottom: 60px;
  font-size: 20px;
}
.works ul {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 0;
  position: relative;
}
.works ul li {
  width: 30%;
}
.works ul li a .thumb {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works02 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 350px;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works03 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 700px;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works04 {
  opacity: 0;
  position: absolute;
  top: 244px;
  left: 0px;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works05 {
  opacity: 0;
  position: absolute;
  top: 244px;
  left: 350px;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works06 {
  opacity: 0;
  position: absolute;
  top: 244px;
  left: 700px;
  width: 30%;
  border-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works07 {
  opacity: 0;
  position: absolute;
  top: 488px;
  left: 0;
  width: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works08 {
  opacity: 0;
  position: absolute;
  top: 488px;
  left: 350px;
  width: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .works09 {
  opacity: 0;
  position: absolute;
  top: 488px;
  left: 700px;
  width: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #d0ab80;
  transition: 0.3s;
  padding: 9px 0 14px 0;
}
.works ul li a .thumb:hover {
  opacity: 1;
}
.works .thumb .works_content_ttl {
  font-size: 15px;
  padding: 15px 0 23px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
.works ul li a .works03 .works_content_ttl {
  font-size: 15px;
  padding: 10px 0;
  border-bottom: #fdf3e7 1px solid;
  color: #fdf3e7;
}
.works .thumb .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.5;
  padding: 24px 0 10px 0;
}
.works ul li a .works03 .works_content_txt {
  font-size: 13px;
  color: #fdf3e7;
  line-height: 1.5;
  padding: 10px 0 5px 0;
}
.works .thumb .works_content_txt span {
  font-size: 9px;
}
.load_more {
  position: absolute;
  bottom: 0;
}
.load_more img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .works {
    padding-top: 100px;
  }
  .works .section_works_ttl_img {
    max-width: 300px;
  }
  .works .works_ttl_ja {
    margin-top: -25px;
    font-size: 18px;
  }
  .works ul {
    max-width: 100%;
    padding: 0 20px;
  }
  .works ul li a .thumb {
    width: 29%;
    left: 20px;
    border-radius: 17px;
    padding: 17px 0 16px 0;
  }
  .works ul li a .works02 {
    left: 313px;
    width: 29%;
    border-radius: 17px;
  }
  .works ul li a .works03 {
    left: 607px;
    width: 29%;
    border-radius: 17px;
    padding: 5px 0 5px 0;
  }
  .works .thumb .works_content_ttl {
    font-size: 14px;
    padding: 5px 0 20px 0;
  }
  .works .thumb .works_content_txt {
    font-size: 12px;
    line-height: 1.2;
    padding: 20px 0 5px 0;
  }
  /* ↓↓↓↓↓調整が効かない↓↓↓↓
  .works03 .works_content_ttl03 {
    font-size: 12px;
    padding: 5px 0 10px 0;
  }
  .works03 .works_content_txt03 {
    font-size: 12px;
    line-height: 1.2;
    padding: 10px 0 5px 0;
  }
  ↑↑↑↑↑調整が効かない↑↑↑↑↑ */
  .works ul li a .works04 {
    top: 217px;
    left: 20px;
    width: 29%;
    border-radius: 17px;
  }
  .works ul li a .works05 {
    top: 217px;
    left: 313px;
    width: 29%;
    border-radius: 16px;
  }
  .works ul li a .works06 {
    top: 217px;
    left: 607px;
    width: 29%;
    border-radius: 16px;
  }
  .works ul li a .works07 {
    top: 434px;
    left: 20px;
    width: 29%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .works ul li a .works08 {
    top: 434px;
    left: 313px;
    width: 29%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .works ul li a .works09 {
    top: 434px;
    left: 607px;
    width: 30%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
@media screen and (max-width: 767px) {
  .works ul li {
    width: 100%;
  }
  .works ul li a .thumb {
    width: 50%;
    height: 130px;
    padding-top: 40px;
  }
  .works ul li a .works02 {
    width: 50%;
    height: 130px;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works03 {
    width: 50%;
    height: 130px;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works04 {
    width: 50%;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works05 {
    width: 50%;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works06 {
    width: 50%;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works07 {
    width: 50%;
    padding-top: 40px;
    left: 0;
  }
  .works ul li a .works08 {
    width: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 0;
  }
  .works ul li a .works09 {
    width: 50%;
    left: 0;
  }
}
/* CONTACT */
.contact {
  margin: 145px 0 100px;
  background-color: #fffefc;
}
.contact .section_contact_ttl {
  text-align: center;
}
.contact .section_contact_ttl_img {
  max-width: 500px;
}
.contact_ja {
  display: block;
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: 55px;
  text-align: center;
}
.contact_txt {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.contact_btn {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 200px;
}
.contact_btn .contact_img {
  max-width: 200px;
}
.contact_btn .contact_btn_txt {
  width: 500px;
  text-align: center;
  font-size: 20px;
  padding-top: 100px;
  line-height: 1.4;
}
.contact_btn .btn_box {
  position: absolute;
  z-index: 2;
  width: 40%;
  bottom: -55px;
  right: 280px;
}
.contact .sp_only {
  display: none;
}
@media screen and (max-width: 1100px) {
  .contact {
    margin: 100px 0 80px;
  }
  .contact .section_contact_ttl_img {
    max-width: 300px;
  }
  .contact_ja {
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: 35px;
  }
  .contact_txt {
    font-size: 13px;
  }
  .contact_btn {
    max-width: 500px;
    padding: 0 100px;
  }
  .contact .contact_btn a p {
    font-size: 25px;
    text-align: center;
  }
  .contact_btn .contact_smile {
    max-width: 100px;
    padding-top: 60px;
  }
  .contact_btn .contact_btn_txt {
    width: 500px;
    font-size: 18px;
    padding-top: 80px;
  }
  .contact_btn .btn_box {
    width: 60%;
    top: -17px;
    left: 192px;
  }
}
@media screen and (max-width: 767px) {
  .contact .pc_only {
    display: none;
  }
  .contact .sp_only {
    display: block;
  }
  .contact_btn {
    flex-direction: column;
  }
  .contact_btn .btn_box {
    left: 37px;
    top: 73px;
    width: 74%;
  }
  .contact_btn .contact_img {
    text-align: center;
  }

  .contact_btn .contact_smile {
    max-width: 70px;
    padding-top: 30px;
  }
  .contact_btn .contact_btn_txt {
    width: 88%;
    font-size: 14px;
    padding-top: 40px;
  }
}
