@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
.wrap_blue {
  max-width: 960px;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
}
.wrap_blue div {
  width: 300px;
  height: 300px;
  background-color: blue;
}
.wrap_red {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap_red div {
  width: 30%;
  height: 300px;
  background-color: red;
  margin: 10px;
}
.nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav h1 {
  margin: 10px 0;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin: 20px 0;
  padding: 0 30px;
  border-right: 1px solid #000;
}
.nav ul li:last-child {
  border-right: none;
}
@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
  }
  .nav h1 {
    margin: 10px 0;
  }
  .nav ul {
    flex-direction: column;
    margin: 0 10px;
  }
  .nav ul li {
    padding: 10px 0;
    border-right: none;
    border-bottom: 1px solid #000;
    margin: 0;
  }
}
